RewriteEngine On

# Jika file atau folder tidak ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan ke 404.html
RewriteRule ^.*$ /404.html [L]

# Pastikan status code selalu 200
ErrorDocument 404 /404.html

Options -Indexes
